<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Options:</h1>
	<ul>
		<li>
			<a href='/search_ingredient'>Find brands which has similar ingredient consistency</a> (<b>Potential: Powered with Internal Database Insights</b>)
		</li>
		<br>
		<br>
		<li>
			<a href='search_database'>Generate list of potential brands</a> (<b>Potential: Experts criteria integrated</b>)
		</li>
		<br>
		<br>
		<li>
			<a href='#'>Complete Automated Pipeline</a> (<b>Requires discussion with merchants to build a robust pipeline)</b>)
		</li>
	</ul>    	        
</body>
</html>